body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 1200px) {
  .landing-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
  }
}